# Mac & etc
.DS_Store
*.zip
Help.md
.metadata
_test/
JavaTester/

# IntelliJ
.idea/
.idea_modules/
*.iml

# VS Code
.vscode/
.metadata/
.settings/
.classpath
.project

# Build
out/
bin/
target/
build/
**/build/
*.class
*.jar

# Gradle
.gradle/

# Python
__pycache__/
*.pyc
env/
_env/
.python-version
